# Environment secrets
.env

# Dependencies
node_modules/

# IDE and System files
.vscode/
.DS_Store
Thumbs.db

# Database files
rocket_db.sql

# Optimization and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
